/* fall-styles.css */
body {
    font-family: 'AutumnFont', sans-serif; /* Custom fall-themed font (if available) */
    color: #784212; /* Fall-themed text color */
    /* Add more fall-specific styles as needed */
}

/* Additional fall-specific styles */
header {
    background-color: #ffff00;
    font-size: 28px;
    color: #ff6600;
}

footer {
    background-color: #ffff00;
    font-size: 28px;
    color: #ff6600;
}