/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Center the content on the page */
body {
    font-family: Arial, sans-serif;
    background-color: #d3e9f9; /* Light blue background */
    color: #334e68; /* Dark blue text color */
}

/* Header styles */
header {
    background-color: #86b7db; /* Light blue header background */
    padding: 10px 0;
}

/* Hamburger Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #86b7db; /* Light blue background */
    padding: 10px 20px;
}

/* Hamburger Menu Styles */
#menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction: column;
    background-color: #86b7db; /* Light blue background */
    border: 2px solid #4d869f; /* Dark blue border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Main content styles */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.welcome-section {
    text-align: center;
    background-color: #d3e9f9; /* Light blue background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #275a7d; /* Dark blue heading color */
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.get-started-button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #4d869f;
}

.get-started-button a {
    color: white !important;
    text-decoration: none;
}

/* Featured section styles */
.featured-section {
    margin-top: 30px;
    text-align: center;
}

.featured-item {
    background-color: #d3e9f9; /* Light blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seasonal-menu {
    margin-top: 30px;
    text-align: center;
}

.seasonal-item {
    background-color: #d3e9f9; /* Light blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #275a7d; /* Dark blue heading color */
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f9f7f2; /* White heading color */
}

/* About us section styles */
.about-us-section,
.login-section {
    margin-top: 30px;
    text-align: center;
}

.about-us-section button {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #4d869f; /* Greenish green background */
    color: white; /* White text color */
}

.about-us-section a {
    color: #fff; /* Blue link color */
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #86b7db; /* Light blue footer background */
    padding: 20px 0;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info {
    font-size: 16px;
}

.social-links {
    font-size: 24px;
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.legal-links {
    text-align: center;
    font-size: 18px;
}

/* Add this to your CSS */
.menu-open #menu {
    display: flex;
}

#back-to-top {
    bottom: 30px;
    right: 50px;
    z-index: 99;
    width: 80px;
    height: 80px;
    border-radius: 9%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}