/* Define reusable variables */
:root {
  --main-background-color: #FFA500;
  --button-background-color: aliceblue;
  --button-padding: 10px;
  --button-text-color: #FFA500;
  --button-hover-color: transparent;
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/assets/fallday.png);
  background: no-repeat / cover / center; /* Combine background properties */
}

#enter-btn {
  font-family: Arial, sans-serif;
  background-color: var(--button-background-color);
  padding: var(--button-padding);
}

#enter-btn a {
  text-decoration: none;
  color: var(--button-text-color);
  font-weight: bold;
}

#enter-btn:hover {
  cursor: pointer;
  background: var(--button-hover-color);
}
