/* Define reusable variables */
:root {
  --main-background-color: #FFA500;
  --button-background-color: aliceblue;
  --button-padding: 10px;
  --button-text-color: #FFA500;
  --button-hover-color: transparent;
}

 /* Base styles */
 body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-background-color);
  background-image: url(/assets/images/fallday.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Button styles */
#enter-btn {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  padding: 10px;
}

#enter-btn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#enter-btn:hover {
  cursor: pointer;
  background: transparent;
}
