/* Define reusable variables */
:root {
  --main-background-color: #FFA500;
  --button-background-color: aliceblue;
  --button-padding: 10px;
  --button-text-color: #FFA500;
  --button-hover-color: transparent;
}

 /* Base styles */
 body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Video styles */
video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 1;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Place video behind other content */
}

/* Button styles */
#enter-btn {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  padding: 10px;
}

#enter-btn a {
  text-decoration: none;
  color: #FFA500;
  font-weight: bold;
}

#enter-btn:hover {
  cursor: pointer;
  background: transparent;
}
